@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "./index_css/header.css";
@import "./index_css/main.css";
@import "./index_css/footer.css";

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --main-color-blue: #006eb6;
  --main-color-white: #fff;
  --sub-color: #f1f1f1;
  --point-color: #009867;
  --font-color: #333;
  --font-middle-color: #666;
  --font-small-color: #999;
  --title-font: 50px;
  --sub-title-font: 24px;
  --font-bold: 700;
  --font-light: 200;
  --font-thin: 100;
}

.hidden {
  position: absolute;
  left: -1000%;
  top: 0%;
  color: white;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

* {
  text-transform: uppercase;
}

*:-webkit-any-link {
  color: #333;
}

a {
  text-decoration: none;
}

.view_more i {
  font-size: 40px;
  position: absolute;
  color: var(--main-color-blue);
  transition: all 0.5s;
}

.view_more i:hover {
  transform: rotate(360deg);
}
