@import "./information_sidebar.css";
@import "./main.css";
@import "./menu_sidebar.css";

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
}

:root {
  /* variable - color */
  --title-color: rgba(0, 0, 0, 0.7);
  --content-text-color: rgba(0, 0, 0, 0.3);
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-white: #fff;
  --color-blue: #7380ec;
  --color-dark-blue: #7380ec;
  --color-pink: #ff7782;
  --color-green: #41f1b6;
  --color-orange: #ffbb55;
  --color-background: #f6f6f9;

  /* variable - radius */
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  /* variable - padding */
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  /* variable - shadow */
  --box-shadow: 0 2rem 3rem var();

  /* variable - transition */
  --tran_03: all 0.3s ease-in;
}
