main {
  width: 2000px;
  position: relative;
  margin-top: 1000px;
}

/* search content */

.search {
  width: 2000px;
  height: 400px;
  background-color: #006eb6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.search h3 {
  font-size: 36px;
}

.search div {
  width: 920px;
  height: 60px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}
.search div img {
  background-image: url(../../images/icon_image/돋보기.png);
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

input[type="text"] {
  font-size: 20px;
}

.search div input {
  width: 95%;
  margin-top: 1px;
  height: 57px;
  border: none;
  outline: none;
}

/* introduce content */

.introduce {
  width: 2000px;
  height: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.introduce h3 {
  font-size: var(--title-font);
  font-weight: var(--font-bold);
  color: var(--font-color);
  text-align: center;
}

.introduce h3 > span {
  font-size: var(--sub-title-font);
  color: var(--font-middle-color);
  font-weight: 200;
  margin-top: 15px;
}

.introduce > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.introduce_textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;

  /* animation 처리 */
  transform: translate(-100px, 100px);

  width: 530px;
  height: 530px;
  background-color: var(--main-color-blue);
}

.introduce_textbox > span {
  color: #009aff;
  align-self: flex-end;
  margin-right: 30px;
}

.introduce_textbox > span,
.introduce_textbox h4 {
  font-size: 36px;
}

.introduce_textbox h4,
.introduce_textbox p,
.introduce_textbox a {
  margin-right: 10px;
  width: 75%;
  color: white;
}

.introduce_textbox p,
.introduce_textbox a {
  font-weight: 300;
}

.introduce_textbox h4 {
  font-weight: 700;
}

.introduce_textbox p {
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.introduce_textbox a {
  font-size: 16px;
  align-self: flex-end;
  margin-bottom: 100px;
  opacity: 0.8;
}

.introduce_textbox a span {
  display: flex;
  align-items: center;
}

.introduce > div:nth-child(2) img {
  position: relative;
  width: 1100px;
  height: 560px;
  z-index: 10;
  box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.5);
}

.icon_list {
  margin-top: 100px;
  height: 200px;
}

.icon_list ul {
  display: flex;
  width: 1200px;
  height: 100%;
  justify-content: space-around;
}

.icon_list ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.icon_list ul img {
  width: 100px;
  height: 100px;
  opacity: 0.8;
  background-color: #fff;
}

.icon_list ul span {
  margin-top: 20px;
}

.icon_list ul li a:hover {
  box-shadow: 1px 40px 50px rgba(0, 0, 0, 0.3);
  color: #006eb6;
  font-weight: 700;
  border-radius: 50px;
  padding: 20px 25px;
  transform: translateY(-50px);
}

/*promotion*/
.promotion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2000px;
  height: 1135px;
  background-color: var(--sub-color);
}

.promotion h3 {
  text-align: center;
  font-weight: var(--font-bold);
  font-size: var(--title-font);
}

.promotion h3 > span {
  font-weight: 200;
  font-size: var(--sub-title-font);
}

.promotion_list {
  display: flex;
}

.promotion_list img {
  width: 360px;
  height: 500px;
}

.promotion_list li {
  width: 360px;
  height: 660px;
}

.promotion_list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promotion_list dt {
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color);
}

.promotion_list dl {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.promotion dd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--font-middle-color);
  height: 80px;
}

.promotion dd small {
  color: var(--font-small-color);
}

.promotion .view_more {
  width: 40px;
  height: 40px;
}
.promotion .view_more a {
  background-image: url(../../images/icon_image/plus.png);
}
