article {
  width: 2000px;
  position: relative;
  margin-top: 1000px;
}

/* common styles */

.introduce h3,
.promotion h3,
.match h3,
.news h3 {
  font-size: var(--title-font);
  font-weight: var(--font-bold);
  color: var(--font-color);
  text-align: center;
}

.introduce h3 > span,
.promotion h3 > span,
.match h3 > span {
  font-size: var(--sub-title-font);
  font-weight: var(--font-light);
  color: var(--font-middle-color);
}

/* search content */

.search {
  width: 2000px;
  height: 400px;
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.search h3 {
  font-size: 36px;
}

.search div {
  width: 920px;
  height: 60px;
  background-color: var(--main-color-white);
  position: relative;
  display: flex;
  align-items: center;
}

.search div img {
  background-image: url(../../images/icon_image/돋보기.png);
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

input[type="search"] {
  font-size: 20px;
}

.search div input {
  width: 95%;
  margin-top: 1px;
  height: 57px;
  border: none;
  outline: none;
}

/* introduce content */

.introduce {
  width: 2000px;
  height: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.introduce > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.introduce_textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  /* animation 처리 */
  transform: translate(-100px, 100px);
  width: 530px;
  height: 530px;
  background-color: var(--main-color-blue);
}

.introduce_textbox > span {
  color: #009aff;
  align-self: flex-end;
  margin-right: 30px;
}

.introduce_textbox > span,
.introduce_textbox h4 {
  font-size: 36px;
}

.introduce_textbox h4,
.introduce_textbox p,
.introduce_textbox a {
  margin-right: 10px;
  width: 75%;
  color: var(--main-color-white);
}

.introduce_textbox p,
.introduce_textbox a {
  font-weight: 300;
}

.introduce_textbox h4 {
  font-weight: var(--title-font);
}

.introduce_textbox p {
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.introduce_textbox a {
  font-size: 16px;
  align-self: flex-end;
  margin-bottom: 100px;
  opacity: 0.8;
}

.introduce_textbox a span {
  display: flex;
  align-items: center;
}

.introduce > div:nth-child(2) img {
  position: relative;
  width: 1100px;
  height: 560px;
  z-index: 10;
  box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.5);
}

.icon_list {
  margin-top: 100px;
  height: 200px;
}

.icon_list ul {
  display: flex;
  width: 1200px;
  height: 100%;
  justify-content: space-around;
}

.icon_list ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.icon_list ul img {
  width: 100px;
  height: 100px;
  opacity: 0.8;
  background-color: var(--main-color-white);
}

.icon_list ul span {
  margin-top: 20px;
}

.icon_list ul li a:hover {
  box-shadow: 1px 40px 50px rgba(0, 0, 0, 0.3);
  color: var(--main-color-blue);
  font-weight: var(--title-font);
  border-radius: 50px;
  padding: 20px 25px;
  transform: translateY(-50px);
}

/*promotion*/
.promotion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2000px;
  height: 1135px;
  background-color: var(--sub-color);
}

.promotion h3 {
  margin-top: 40px;
}

.promotion_list {
  display: flex;
}

.promotion_list img {
  width: 360px;
  height: 500px;
}

.promotion_list li {
  width: 360px;
  height: 660px;
  background-color: var(--main-color-white);
  margin: 0 80px;
}

.promotion_list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promotion_list dl {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.promotion_list dt {
  font-size: 18px;
  font-weight: var(--title-font);
  color: var(--font-color);
}

.promotion dd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--font-middle-color);
  height: 80px;
}

.promotion dd small {
  color: var(--font-small-color);
}

.promotion i {
  top: 134px;
  right: 400px;
}

/* match */

.match {
  width: 2000px;
  height: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.match_content {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.match_content > div {
  width: 50%;
}

.official > div,
.entertainment > div {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.official {
  align-self: flex-start;
  justify-content: flex-start;
  padding: 75px 0;
  background-color: var(--main-color-blue);
}

.official > div {
  justify-content: flex-start;
}

.official_text {
  text-align: left;
  margin-left: 65px;
}

.entertainment {
  align-self: flex-end;
  justify-content: flex-end;
  padding: 75px 0;
  background-color: var(--point-color);
}

.entertainment > div {
  justify-content: flex-end;
  margin-right: 60px;
}

.entertainment_text {
  text-align: right;
  margin-right: 65px;
}

.official_text,
.entertainment_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--main-color-white);
}

.official_text h4,
.entertainment_text h4 {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.official_text p,
.entertainment_text p {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 300;
}

.official_text small,
.entertainment_text small {
  font-weight: var(--font-thin);
}

.match .view_more i {
  top: 195px;
  right: 400px;
}
/* news zone */

.news {
  width: 2000px;
  height: 585px;
  background-color: var(--sub-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.news_wrapper {
  width: 1200px;
  height: 585px;
  position: relative;
}

.news h3 {
  margin-top: 80px;
}

.news_lists {
  margin-top: 100px;
}

.news_lists {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.news_lists li {
  color: var(--font-color);
  background-color: var(--main-color-white);
  border-radius: 60px;
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.news_lists li p {
  width: 80%;
}

.news_lists a {
  transition: all 0.2s ease-in;
  line-height: 20px;
  font-weight: 500;
  border-radius: 60px;
}

.news_lists a:hover {
  border: 2px solid var(--main-color-blue);
  box-shadow: 1px 40px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  font-weight: 600;
}

.news_lists ul small {
  color: var(--font-small-color);
  font-size: 14px;
  font-weight: var(--font-thin);
}
.news .view_more i {
  top: 107px;
  right: 0;
}
